.todo_item {
  display: flex;
  margin-bottom: 10px;
}
.todo_item.checked label {
  text-decoration: line-through;
}
.todo_item label {
  flex-grow: 1;
}
.todo_item .remove_btn {
  padding: 0 10px;
  color: var(--point-color1);
  height: 32px;
  border: 1px solid var(--point-color1);
  background: none;
  border-radius: 4px;
  font-size: 16px;
}
